<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dragau.o2o.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.App.Light">

        <activity android:name=".ui.activity.home.HomeActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.LoginInActivity"/>

        <activity android:name=".ui.activity.product.ProductActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyActionBarTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.product.AddProductActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.activity.product.ScanActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/MyActionBarTheme" />

        <activity
            android:name=".ui.activity.MainAppActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"
            />

        <service android:name=".api.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/splash_screen" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="78a282e4a1e1963875d6f17b139141e5a863ff72"
            />


    </application>

</manifest>
